body {
    background-color: lightgrey;
}


 nav ul {
    background-color: red;
    margin: 0;
    padding: 0;
    height: 20px;
}

 nav li {
   display: inline-block;
   list-style: none;
   width: 50px;
   
   
}

div {
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
}

h1 {
    text-align: center;
}

/* Contact */

.contain {
    text-align: center;
}

li {
    list-style: none;
}