body {
    background-color: lightgrey;
}



 nav ul {
    background-color: red;
    font-size: 22px;
    margin: 0;
    padding: 0;
    height: 45SSSSpx;
}

 nav li {
   display: inline-block;
   list-style: none;
   padding: 10px;
   width: 50px;
   
   
}

div {
    text-align: center;
}

img {
    width: 150px;
    height: 150px;
    padding-top: 30px;
}

h1 {
    text-align: center;
}

/* Contact */

.contain {
    text-align: center;
}

li {
    list-style: none;
}

nav li:hover {
    
    background-color: gray;
    width: auto;
}